$home-color: #bfa27b
$services-color: #b64b52
$about-color: #665464
$works-color: #81a256
$contacts-color: #75b4aa

$home-color_active: #74c7d5
$services-color_active: #df5c64
$about-color_active: #91778e
$works-color_active: #a1ca6c
$contacts-color_active: #82c8bd

body 
    font-family: "Lato"
    position: relative

.acrostia__section
    background-size: cover
    -o-background-size: cover
    -moz-background-size: cover
    -webkit-background-size: cover
    background-position: center center

.acrostia__title
    font-size: 36px
    font-weight: 300
    text-align: center
    color: #f9f9f9
    text-transform: uppercase

/*  header  */

.header__menu_sm
    width: 300px
    min-height: 100vh
    position: fixed
    top: 0
    left: 0
    z-index: 16
    background-color: #5799de
    margin-left: -300px
    transition: all 0.3s ease-in

.header__menu-close_sm
    margin-top: 12px
    margin-right: 10px
    text-align: right
    i
        color: #f9f9f9
        cursor: pointer
        font-size: 50px

header.acrostia__header
    position: fixed
    top: 0
    z-index: 10
    width: 100%

.header__menu-toggle-block_sm
    margin-top: 20px
    margin-left: 10px
    i
        font-size: 50px
        line-height: 50px
        color: #f9f9f9

.acrostia__section-content
    height: 100%
    width: 100%
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: center
    align-content: stretch
    align-items: center
    .container
        order: 0
        flex: 0 1 auto
        align-self: auto

.header__logo
    font-family: "Damion"
    color: #f9f9f9
    font-size: 50px
    &:hover
        color: #f9f9f9
        text-decoration: none

.acrostia__nav-item
    cursor: pointer
    padding: 30px 30px 10px 30px
    background-color: transparent
    border-bottom-left-radius: 8px
    border-bottom-right-radius: 8px
    color: #f9f9f9
    transition: all 0.2s ease-in
    font-weight: 300

.acrostia__nav-item-home.active
    background-color: $home-color_active

.acrostia__nav-item-services.active
        background-color: $services-color_active

.acrostia__nav-item-about.active
        background-color: $about-color_active

.acrostia__nav-item-works.active
        background-color: $works-color_active

.acrostia__nav-item-contacts.active
        background-color: $contacts-color_active

/*  home section  */

.home
    background-color: $home-color

.home__slider-item
    height: 100vh
    width: 100%
    background-size: cover
    -o-background-size: cover
    -moz-background-size: cover
    -webkit-background-size: cover
    background-position: center center

.home__slider-item_first
    background-image: url(../img/home__slider__slide-1.jpg)

.home__slider-item_second
    background-image: url(../img/home__slider__slide-2.jpg)

.home__slider-item_third
    background-image: url(../img/home__slider__slide-3.jpg)

.home__slider-caption-block
    max-width: 826px
    margin: auto
    text-transform: uppercase
    padding: 20px
    background-color: rgba(255, 255, 255, 0.6)
    color: $home-color_active
    line-height: 58px

.home__slider-caption_sm
    text-align: right
    font-size: 60px
    font-weight: 300
    display: inline-block
    margin-bottom: 0

.home__slider-caption_big
    text-align: left
    font-size: 138px
    font-weight: 900
    display: inline-block
    margin-bottom: 0

/*   services section    */
.services
    background-color: $services-color
    background-image: url(../img/services__bg-overlay.jpg)

/*  about section  */
.about
    background-color: $about-color
    background-image: url(../img/about__bg-overlay.jpg)

/*   works section  */
.works
    background-color: $works-color
    background-image: url(../img/works__bg-overlay.jpg)

/*  contacts section  */
.contacts
    background-color: $contacts-color
    background-image: url(../img/contacts__bg-overlay.jpg)

/*  temp    */

/*  media-queries   */
/*  Extra emall devices (landscape phones, 576px and down)  */
@media (max-width: 575px)
    .home__slider-caption_sm
        font-size: 20px
        line-height: 24px
        display: block
        text-align: center
    .home__slider-caption_big
        font-size: 40px
        line-height: 46px
        display: block
        text-align: center

/*  Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px)
    .home__slider-caption_sm
        font-size: 30px
        line-height: 30px
        display: block
        text-align: center
    .home__slider-caption_big
        font-size: 68px
        line-height: 68px
        display: block
        text-align: center

/*  Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px)
    .home__slider-caption-block
        line-height: 36px
    .home__slider-caption_sm
        font-size: 30px
    .home__slider-caption_big
        font-size: 80px

/*  Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)
    .home__slider-caption-block
        line-height: 42px
    .home__slider-caption_sm
        font-size: 40px
    .home__slider-caption_big
        font-size: 100px

/*  Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 991px)
    .header__menu-toggle-block_sm